# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import importlib
import os
import glob
import psycopg2
import pandas as pd
import sql_queries
from sql_queries import *

In [2]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [3]:
!python create_tables.py

In [4]:
conn = psycopg2.connect(
    database="sparkify",
    user="postgres",
    password="postrgres",
    host="localhost",
    port='5432'
)

In [5]:
cur = conn.cursor()

In [6]:
def get_files(filepath):
    '''
    Returns list of all files within the specified file path   
    '''
        
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [7]:
song_files = get_files('C:\\Users\\garet\\sparkify\\data\\song_data')

In [8]:
song_files

['C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAABD128F429CF47.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAADZ128F9348C2E.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAEF128F4273421.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAFD128F92F423A.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAMO128F1481E7F.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAMQ128F1460CD3.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAPK128E0786D96.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAARJ128F9320760.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAVG12903CFA543.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAVO128F93133D4.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABCL128F4286650.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABDL12903CAABBA.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABJL12903CDCF1A.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABJV128F1460C49.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABLR128F423B7E3.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABNV128F425CEE1.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABRB128F9306DD5.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABVM128F92CA9DC.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABXG128F9318EBD.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABYN12903CFD305.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\B\\TRAABYW128F4244559.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACCG128F92E8A55.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACER128F4290F96.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACFV128F935E50B.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACHN128F1489601.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACIW12903CC0F6D.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACLV128F427E123.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACNS128F14A2DF5.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACOW128F933E35F.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACPE128F421C1B9.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACQT128F9331780.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACSL128F93462F4.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACTB12903CAAF15.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACVS128E078BE39.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\C\\TRAACZK128F4243829.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABACN128F425B784.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAFJ128F42AF24E.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAFP128F931E9A1.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAIO128F42938F9.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABATO128F42627E9.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAVQ12903CBF7E0.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAWW128F4250A31.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAXL128F424FC50.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAXR128F426515F.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAXV128F92F6AE3.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\A\\TRABAZH128F930419A.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBAM128F429D223.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBBV128F42967D7.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBJE12903CDB442.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBKX128F4285205.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBLU128F93349CF.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBNP128F932546F.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBOP128F931B50D.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBOR128F4286200.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBTA128F933D304.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBVJ128F92F7EAA.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBXU128F92FEF48.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\B\\TRABBZN12903CD9297.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCAJ12903CDFCC2.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCEC128F426456E.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCEI128F424C983.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCFL128F149BB0D.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCIX128F4265903.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCKL128F423A778.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCPZ128F4275C32.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCRU128F423F449.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCTK128F934B224.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCUQ128E0783E2B.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCXB128F4286BD3.json',
 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\B\\C\\TRABCYE128F934CE1D.json']

In [9]:
filepath = 'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json'

In [10]:
filepath

'C:\\Users\\garet\\sparkify\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json'

In [11]:
df = pd.DataFrame(columns=['num_songs', 'artist_id', 'artist_latitude', 'artist_longitude',
       'artist_location', 'artist_name', 'song_id', 'title', 'duration',
       'year'])

In [12]:
for song_file in song_files:
    df2 = pd.read_json(song_file, lines=True)
    df = pd.concat([df, df2])

In [13]:
df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
0,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
0,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
0,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007
...,...,...,...,...,...,...,...,...,...,...
0,1,AR8IEZO1187B99055E,NaN,NaN,,Marc Shaiman,SOINLJW12A8C13314C,City Slickers,149.86404,2008
0,1,AR558FS1187FB45658,NaN,NaN,,40 Grit,SOGDBUF12A8C140FAA,Intro,75.67628,2003
0,1,ARVBRGZ1187FB4675A,NaN,NaN,,Gwen Stefani,SORRZGD12A6310DBC3,Harajuku Girls,290.55955,2004
0,1,ARWB3G61187FB49404,NaN,NaN,"Hamilton, Ohio",Steve Morse,SODAUVL12A8C13D184,Prognosis,363.85914,2000
0,1,AREVWGE1187B9B890A,-13.44200,-41.99520,Noci (BA),Bitter End,SOFCHDR12AB01866EF,Living Hell,282.43546,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [14]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values

In [15]:
song_data

array([['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1',
        0, 218.93179],
       ['SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969,
        148.03546],
       ['SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0,
        177.47546],
       ['SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C',
        1982, 233.40363],
       ['SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099',
        2007, 209.60608],
       ['SOYMRWW12A6D4FAB14',
        'The Moon And I (Ordinary Day Album Version)',
        'ARKFYS91187B98E58F', 0, 267.7024],
       ['SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)',
        'ARD0S291187B9B7BF5', 0, 114.78159],
       ['SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0,
        189.57016],
       ['SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984,
        269.81832],
       ['SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)',
        'ARNTLGG11E2835DDB9', 0, 266.39628],
       ['SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0,
        218.77506],
       ['SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)',
        'ARC43071187B990240', 0, 245.21098],
       ['SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', 0,
        226.35057],
       ['SORAMLE12AB017C8B0', 'Auguri Cha Cha', 'ARHHO3O1187B989413', 0,
        191.84281],
       ['SOBONFF12A6D4F84D8', 'Tonight Will Be Alright',
        'ARIK43K1187B9AE54C', 1986, 307.3824],
       ['SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 1987,
        491.12771],
       ['SOUQQEA12A8C134B1B', 'High Tide', 'ARIG6O41187B988BDD', 0,
        228.5971],
       ['SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data',
        'AR1ZHYZ1187FB3C717', 0, 599.24853],
       ['SOXLBJT12A8C140925', 'Caught In A Dream', 'ARYKCQI1187FB3B18F',
        2004, 290.29832],
       ['SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', 0,
        165.69424],
       ['SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round',
        'ARQGYP71187FB44566', 0, 151.84934],
       ['SOBEBDG12A58A76D60', 'Kassie Jones', 'ARI3BMM1187FB4255E', 0,
        220.78649],
       ['SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0,
        269.58322],
       ['SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants',
        'ARMAC4T1187FB3FA4C', 2004, 207.77751],
       ['SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)',
        'AR47JEX1187B995D81', 1985, 124.86485],
       ['SOPSWQW12A6D4F8781', 'Made Like This (Live)',
        'ARGIWFO1187B9B55B7', 0, 225.09669],
       ['SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9',
        0, 338.31138],
       ['SONYPOM12A8C13B2D7',
        'I Think My Wife Is Running Around On Me (Taco Hell)',
        'ARDNS031187B9924F0', 2005, 186.48771],
       ['SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51',
        1997, 168.25424],
       ['SOVYKGO12AB0187199', 'Crazy Mixed Up World',
        'ARH4Z031187B9A71F2', 1961, 156.39465],
       ['SOGNCJP12A58A80271', 'Do You Finally Need A Friend',
        'ARB29H41187B98F0EF', 1972, 342.56934],
       ['SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE',
        0, 484.62322],
       ['SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A',
        1964, 164.80608],
       ['SOGXHEG12AB018653E', 'It Makes No Difference Now',
        'AR0RCMP1187FB3F427', 1992, 133.32853],
       ['SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)',
        'AREBBGV1187FB523D2', 0, 173.66159],
       ['SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17',
        1997, 313.12934],
       ['SOQLGFP12A58A7800E', 'OAKtown', 'ARD7TVE1187B99BFB1', 0,
        259.44771],
       ['SOPVXLX12A8C1402D5', 'Larger Than Life', 'AR3JMC51187B9AE49D',
        1999, 236.25098],
       ['SOAOIBZ12AB01815BE',
        'I Hold Your Hand In Mine [Live At Royal Albert Hall]',
        'ARPBNLO1187FB3D52F', 2000, 43.36281],
       ['SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', 0,
        236.93016],
       ['SOSLAVG12A8C13397F', 'Den Pai Alo', 'AROGWRA122988FEE45', 0,
        243.82649],
       ['SOTTDKS12AB018D69B', 'It Wont Be Christmas',
        'ARMBR4Y1187B9990EB', 0, 241.47546],
       ['SOMVWWT12A58A7AE05', 'Knocked Out Of The Park',
        'ARQ9BO41187FB5CF1F', 0, 183.17016],
       ['SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84', 0,
        424.12363],
       ['SODUJBS12A8C132150', 'Wessex Loses a Bride',
        'ARI2JSK1187FB496EF', 0, 111.62077],
       ['SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)',
        'AREDBBQ1187B98AFF5', 0, 138.63138],
       ['SOTUKVB12AB0181477', 'Blessed Assurance', 'AR7ZKHQ1187B98DD73',
        1993, 270.602],
       ['SOOJPRH12A8C141995', 'Loaded Like A Gun', 'ARBGXIG122988F409D',
        0, 173.19138],
       ['SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066',
        0, 218.38322],
       ['SOQOTLQ12AB01868D0', 'Clementina Santafè', 'ARGCY1Y1187B9A4FA5',
        0, 153.33832],
       ['SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)',
        'AR36F9J1187FB406F1', 0, 230.71302],
       ['SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)',
        'ARNNKDK1187B98BBD5', 0, 407.37914],
       ['SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005,
        337.68444],
       ['SOFFKZS12AB017F194', 'A Higher Place (Album Version)',
        'ARBEBBY1187B9B43DB', 1994, 236.17261],
       ['SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire',
        'ARDR4AC1187FB371A1', 0, 511.16363],
       ['SOLEYHO12AB0188A85', 'Got My Mojo Workin', 'ARAGB2O1187FB3A161',
        0, 338.23302],
       ['SOPEGZN12AB0181B3D', 'Get Your Head Stuck On Your Neck',
        'AREDL271187FB40F44', 0, 45.66159],
       ['SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3',
        2004, 207.43791],
       ['SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu',
        'ARGSAFR1269FB35070', 0, 29.54404],
       ['SOSWKAV12AB018FC91', 'Midnight Star', 'ARULZCI1241B9C8611', 0,
        335.51628],
       ['SONSKXP12A8C13A2C9', 'Native Soul', 'AR0IAWL1187B9A96D0', 2003,
        197.19791],
       ['SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff',
        'ARJIE2Y1187B994AB7', 0, 152.92036],
       ['SODREIN12A58A7F2E5',
        'A Whiter Shade Of Pale (Live @ Fillmore West)',
        'ARLTWXK1187FB5A3F8', 0, 326.00771],
       ['SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty',
        'ARNF6401187FB57032', 1994, 305.162],
       ['SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)',
        'ARPFHN61187FB575F6', 0, 279.97995],
       ['SOLYIBD12A8C135045', 'Music is what we love',
        'AR051KA1187B98B2FF', 0, 261.51138],
       ['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E',
        2008, 149.86404],
       ['SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003,
        75.67628],
       ['SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A',
        2004, 290.55955],
       ['SODAUVL12A8C13D184', 'Prognosis', 'ARWB3G61187FB49404', 2000,
        363.85914],
       ['SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', 0,
        282.43546]], dtype=object)

In [16]:
#!python create_tables.py

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [17]:
for row in song_data:
    cur.execute(song_table_insert, row)
    conn.commit()

In [18]:
#cur.execute('REVOKE CONNECT ON DATABASE sparkify FROM public')

In [19]:
#cur.execute('''SELECT pg_terminate_backend(pg_stat_activity.pid)
#                 FROM pg_stat_activity
#                 WHERE pg_stat_activity.datname = 'sparkify' ''')

In [20]:
df_query = pd.read_sql('select * from songs', conn)
df_query

               song_id             title           artist_id  year   duration
0   SOMZWCG12A8C13C480  I Didn't Mean To  ARD7TVE1187B99BFB1     0  218.93179
1   SOCIWDW12A8C13D406         Soul Deep  ARMJAGH1187FB546F3  1969  148.03546
2   SOXVLOJ12AB0189215   Amor De Cabaret  ARKRRTF1187B9984DA     0  177.47546
3   SONHOTT12A8C13493C   Something Girls  AR7G5I41187FB4CE6C  1982  233.40363
4   SOFSOCN12A8C143F5D    Face the Ashes  ARXR32B1187FB57099  2007  209.60608
..                 ...               ...                 ...   ...        ...
66  SOINLJW12A8C13314C     City Slickers  AR8IEZO1187B99055E  2008  149.86404
67  SOGDBUF12A8C140FAA             Intro  AR558FS1187FB45658  2003   75.67628
68  SORRZGD12A6310DBC3    Harajuku Girls  ARVBRGZ1187FB4675A  2004  290.55955
69  SODAUVL12A8C13D184         Prognosis  ARWB3G61187FB49404  2000  363.85914
70  SOFCHDR12AB01866EF       Living Hell  AREVWGE1187B9B890A     0  282.43546

[71 rows x 5 columns]

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [21]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values
artist_data

array([['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan],
       ['ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968,
        -90.04892],
       ['ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan],
       ['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan],
       ['ARXR32B1187FB57099', 'Gob', '', nan, nan],
       ['ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan],
       ['ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan],
       ['AR10USD1187B99F3F1', 'Tweeterfriendly Music',
        'Burlington, Ontario, Canada', nan, nan],
       ['AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan],
       ['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan],
       ['ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962,
        -80.01955],
       ['ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan],
       ['ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan],
       ['ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan],
       ['ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan,
        nan],
       ['ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada',
        43.64856, -79.38533],
       ['ARIG6O41187B988BDD', 'Richard Souther', 'United States',
        37.16793, -95.84502],
       ['AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan],
       ['ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan],
       ['ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan],
       ['ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.31109,
        -94.02978],
       ['ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 38.8991,
        -77.029],
       ['AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.80388, 15.47491],
       ['ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan',
        'Morris Plains, NJ', 40.82624, -74.47995],
       ['AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.83721,
        -94.35868],
       ['ARGIWFO1187B9B55B7', 'Five Bolt Main', '', nan, nan],
       ['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan],
       ['ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828,
        -83.22295],
       ['AROUOZZ1187B9ABE51', 'Willie Bobo',
        'New York, NY [Spanish Harlem]', 40.79195, -73.94512],
       ['ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.73197,
        -74.17418],
       ['ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.88415,
        -87.63241],
       ['AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017,
        -82.32547],
       ['ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038,
        -73.83168],
       ['AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX',
        30.08615, -94.10158],
       ['AREBBGV1187FB523D2',
        "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX',
        nan, nan],
       ['ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan],
       ['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan],
       ['AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.53823,
        -81.37739],
       ['ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 40.71455,
        -74.00712],
       ['AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall',
        'Seattle, Washington USA', nan, nan],
       ['AROGWRA122988FEE45', 'Christos Dantis', '', nan, nan],
       ['ARMBR4Y1187B9990EB', 'David Martin', 'California - SF',
        37.77916, -122.42005],
       ['ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 40.99471,
        -77.60454],
       ['ARKULSX1187FB45F84', 'Trafik', 'Utah', 39.49974, -111.54732],
       ['ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright',
        'London, England', 51.50632, -0.12714],
       ['AREDBBQ1187B98AFF5', 'Eddie Calvert', '', nan, nan],
       ['AR7ZKHQ1187B98DD73', 'Glad', '', nan, nan],
       ['ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 37.77916,
        -122.42005],
       ['AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan],
       ['ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36.16778,
        -86.77836],
       ['AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56.27609,
        9.51695],
       ['ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.80726,
        15.967600000000001],
       ['AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan],
       ['ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan],
       ['ARDR4AC1187FB371A1',
        'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti',
        '', nan, nan],
       ['ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', nan,
        nan],
       ['AREDL271187FB40F44', 'Soul Mekanik', '', nan, nan],
       ['ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan],
       ['ARGSAFR1269FB35070', 'Blingtones', '', nan, nan],
       ['ARULZCI1241B9C8611', 'Luna Orbit Project', '', nan, nan],
       ['AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177,
        -80.11278],
       ['ARJIE2Y1187B994AB7', 'Line Renaud', '', nan, nan],
       ['ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 32.74863,
        -97.32925],
       ['ARNF6401187FB57032', 'Sophie B. Hawkins',
        'New York, NY [Manhattan]', 40.79086, -73.96644],
       ['ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 41.88415,
        -87.63241],
       ['AR051KA1187B98B2FF', 'Wilks', '', nan, nan],
       ['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan],
       ['AR558FS1187FB45658', '40 Grit', '', nan, nan],
       ['ARVBRGZ1187FB4675A', 'Gwen Stefani', '', nan, nan],
       ['ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', nan, nan],
       ['AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442,
        -41.9952]], dtype=object)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [22]:
for row in artist_data:
    cur.execute(artist_table_insert, row)
    conn.commit()

In [23]:
df_query = pd.read_sql('select * from artists', conn)
df_query

             artist_id       artist_name         location  latitude  longitude
0   ARD7TVE1187B99BFB1            Casual  California - LA       NaN        NaN
1   ARMJAGH1187FB546F3      The Box Tops      Memphis, TN  35.14968  -90.04892
2   ARKRRTF1187B9984DA  Sonora Santanera                        NaN        NaN
3   AR7G5I41187FB4CE6C          Adam Ant  London, England       NaN        NaN
4   ARXR32B1187FB57099               Gob                        NaN        NaN
..                 ...               ...              ...       ...        ...
64  AR8IEZO1187B99055E      Marc Shaiman                        NaN        NaN
65  AR558FS1187FB45658           40 Grit                        NaN        NaN
66  ARVBRGZ1187FB4675A      Gwen Stefani                        NaN        NaN
67  ARWB3G61187FB49404       Steve Morse   Hamilton, Ohio       NaN        NaN
68  AREVWGE1187B9B890A        Bitter End        Noci (BA) -13.44200  -41.99520

[69 rows x 5 columns]

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [24]:
log_files = get_files('C:\\Users\\garet\\sparkify\\data\\log_data')

In [25]:
log_files

['C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-01-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-02-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-03-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-04-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-05-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-06-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-07-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-08-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-09-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-10-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-11-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-12-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-13-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-14-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-15-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-16-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-17-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-18-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-19-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-20-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-21-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-22-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-23-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-24-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-25-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-26-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-27-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-28-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-29-events.json',
 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-30-events.json']

In [26]:
filepath = 'C:\\Users\\garet\\sparkify\\data\\log_data\\2018\\11\\2018-11-01-events.json'

In [27]:
df = pd.DataFrame(columns=['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'])

for log_file in log_files:
    df2 = pd.read_json(log_file, lines=True)
    df = pd.concat([df, df2])

In [28]:
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,Besos De Ceniza,200,1543603476796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,Rose,200,1543603678796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,The Haunting,200,1543603884796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
386,None,Logged In,Rylan,M,61,George,NaN,paid,"Birmingham-Hoover, AL",GET,Downgrade,1.54102e+12,1076,None,200,1543603993796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.54077e+12,985,Anything You Say (Unreleased Version),200,1543607664796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",5

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [29]:
df = df[df.page == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [30]:
t = pd.to_datetime(df.ts, unit='ms')
t

2     2018-11-01 21:01:46.796
4     2018-11-01 21:05:52.796
5     2018-11-01 21:08:16.796
6     2018-11-01 21:11:13.796
7     2018-11-01 21:17:33.796
                ...
382   2018-11-30 18:40:05.796
383   2018-11-30 18:44:36.796
384   2018-11-30 18:47:58.796
385   2018-11-30 18:51:24.796
387   2018-11-30 19:54:24.796
Name: ts, Length: 6820, dtype: datetime64[ns]

In [31]:
time_data = [list(t.values), 
             list(t.dt.hour.values), 
             list(t.dt.day.values), 
             list(t.dt.week.values),
             list(t.dt.year.values), 
             list(t.dt.weekday.values)]

In [32]:
column_labels = ('time_stamp', 'hour', 'day', 'week', 'year', 'weekday')

In [33]:
time_df = pd.DataFrame({column_labels[i]:time_data[i] for i in range(6)})
time_df.head()

               time_stamp  hour  day  week  year  weekday
0 2018-11-01 21:01:46.796    21    1    44  2018        3
1 2018-11-01 21:05:52.796    21    1    44  2018        3
2 2018-11-01 21:08:16.796    21    1    44  2018        3
3 2018-11-01 21:11:13.796    21    1    44  2018        3
4 2018-11-01 21:17:33.796    21    1    44  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [34]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

In [35]:
df_query = pd.read_sql('select * from time', conn)
df_query

                   time_stamp  hour  day  week  year  weekday
0     2018-11-01 21:01:46.796    21    1    44  2018        3
1     2018-11-01 21:05:52.796    21    1    44  2018        3
2     2018-11-01 21:08:16.796    21    1    44  2018        3
3     2018-11-01 21:11:13.796    21    1    44  2018        3
4     2018-11-01 21:17:33.796    21    1    44  2018        3
...                       ...   ...  ...   ...   ...      ...
6808  2018-11-30 18:40:05.796    18   30    48  2018        4
6809  2018-11-30 18:44:36.796    18   30    48  2018        4
6810  2018-11-30 18:47:58.796    18   30    48  2018        4
6811  2018-11-30 18:51:24.796    18   30    48  2018        4
6812  2018-11-30 19:54:24.796    19   30    48  2018        4

[6813 rows x 6 columns]

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [36]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df

    userId firstName lastName gender level
2        8    Kaylee  Summers      F  free
4        8    Kaylee  Summers      F  free
5        8    Kaylee  Summers      F  free
6        8    Kaylee  Summers      F  free
7        8    Kaylee  Summers      F  free
..     ...       ...      ...    ...   ...
382     16     Rylan   George      M  paid
383     16     Rylan   George      M  paid
384     16     Rylan   George      M  paid
385     16     Rylan   George      M  paid
387      5    Elijah    Davis      M  free

[6820 rows x 5 columns]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [37]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

In [38]:
df_query = pd.read_sql('select * from users', conn)
df_query

    user_id firstname lastname gender level
0        76    Jayden    Duffy      F  free
1        81    Sienna    Colon      F  free
2        69  Anabelle  Simpson      F  free
3         4    Alivia  Terrell      F  free
4        73     Jacob    Klein      M  paid
..      ...       ...      ...    ...   ...
91       79     James   Martin      M  free
92       33   Bronson   Harris      M  free
93       22      Sean   Wilson      F  free
94       39    Walter     Frye      M  free
95       24     Layla  Griffin      F  paid

[96 rows x 5 columns]

In [39]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [40]:
df.ts = pd.to_datetime(df.ts, unit='ms')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [41]:
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,2018-11-01 21:01:46.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,2018-11-01 21:05:52.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,2018-11-01 21:08:16.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,2018-11-01 21:11:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,2018-11-01 21:17:33.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Foo Fighters,Logged In,Rylan,M,57,George,271.38567,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,The Pretender,200,2018-11-30 18:40:05.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,Besos De Ceniza,200,2018-11-30 18:44:36.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,Rose,200,2018-11-30 18:47:58.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.54102e+12,1076,The Haunting,200,2018-11-30 18:51:24.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.54077e+12,985,Anything You Say (Unreleased Version),200,2018-11-30 19:54:24.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",5

In [42]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

In [43]:
df_query = pd.read_sql('SELECT * FROM songplay', conn)
df_query

,time_stamp,user_id,level,song_id,artist_id,session_id,location
0,2018-11-01 21:01:46.796,8,free,None,None,139,"Phoenix-Mesa-Scottsdale, AZ"
1,2018-11-01 21:05:52.796,8,free,None,None,139,"Phoenix-Mesa-Scottsdale, AZ"
2,2018-11-01 21:08:16.796,8,free,None,None,139,"Phoenix-Mesa-Scottsdale, AZ"
3,2018-11-01 21:11:13.796,8,free,None,None,139,"Phoenix-Mesa-Scottsdale, AZ"
4,2018-11-01 21:17:33.796,8,free,None,None,139,"Phoenix-Mesa-Scottsdale, AZ"
...,...,...,...,...,...,...,...
6808,2018-11-30 18:40:05.796,16,paid,None,None,1076,"Birmingham-Hoover, AL"
6809,2018-11-30 18:44:36.796,16,paid,None,None,1076,"Birmingham-Hoover, AL"
6810,2018-11-30 18:47:58.796,16,paid,None,None,1076,"Birmingham-Hoover, AL"
6811,2018-11-30 18:51:24.796,16,paid,None,None,1076,"Birmingham-Hoover, AL"
6812,2018-11-30 19:54:24.796,5,free,None,None,985,"Detroit-Warren-Dearborn, MI"

In [44]:
df_query.song_id.value_counts()

SOZCTXZ12AB0182364    1
Name: song_id, dtype: int64

In [45]:
df_query.artist_id.value_counts()

AR5KOSW1187FB35FF4    1
Name: artist_id, dtype: int64

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [46]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [47]:
!python create_tables.py

In [ ]:
!python etl.py

In [ ]:
# checking results
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkify user=postgres password=p400dellpc")
cur = conn.cursor()

In [ ]:
df_query = pd.read_sql('select * from songs', conn)
df_query

In [ ]:
df_query = pd.read_sql('select * from artists', conn)
df_query

In [ ]:
df_query = pd.read_sql('SELECT * FROM time', conn)
df_query

In [ ]:
df_query = pd.read_sql('select * from users', conn)
df_query

In [ ]:
df_query.level.value_counts()

In [ ]:
df_query = pd.read_sql('SELECT * FROM songplay', conn)
df_query

In [ ]:
df_query.song_id.value_counts()

In [ ]:
df_query.artist_id.value_counts()